* {
    font-family: "Segoe UI";
    font-weight: 200;
  }
  body {
    background: rgb(0, 0, 0);
  }

  .modo{

        color:white;

  }



  h1 {
    text-align: center;
    margin-top: 40vh;
    color: #fff;
  }

  div {
    display: flex;
    justify-content: center;
  }

  section {
     height: 75px;
  }


input {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
     
  }
  input:hover {
    background: rgb(138, 140, 155);
    color: rgb(255, 255, 255);
  }

  p .modo{

        font-size: 100px;
   }

   
img{

    height: 110px;
  }
  
  div.imge{
   padding-bottom:10px ;
    height: 5px;
  
  }
  .botoncito{


    position: relative;
    
    display: inline-block;
    
    width: 3.6rem;
    
    height: 2rem;
    
    }
  
    .botoncito input { 
  
      opacity: 0;
      
      width: 0;
      
      height: 0;
      
      }
      
      .deslizadora{
  
        position: absolute;
        
        cursor: pointer;
        
        top: 0;
        
        left: 0;
        
        right: 0;
        
        bottom: 0;
        
        background-color: rgb(0, 0, 0);
        
        transition: .4s;

        border-radius: 100px;

        -webkit-border-radius: 100px;
    
        -moz-border-radius: 100px;
    
        -ms-border-radius: 100px;
        
        -o-border-radius: 100px

        
        }
        
        
        
        .deslizadora:before {
        
        position: absolute;
        
        content: "";
        
        height: 1.6rem;
        
        width: 1.6rem;
        
        left: 0.2rem;
        
        bottom: 0.2rem;
        
        background-color: rgb(0, 0, 0);
        
        transition: .4s;

        border-radius: 100px;

      -webkit-border-radius: 100px;
  
      -moz-border-radius: 100px;
  
      -ms-border-radius: 100px;
      
      -o-border-radius: 100px
        
        }
        
        
        
        input:checked + .deslizadora {
        
        background-color: #ffffff;
        
        }
        
        
        
        input:checked + .deslizadora:before {
        
          transform: translateX(1.7rem);
        }
        